_ReSharper*/
bin/
debug/
Deploy/
obj/
Package-output/
packages/*
release/
testresults/
*.suo
*.user
.nuget/NuGet.exe

HansKindberg-Build/Build/*.dll
HansKindberg-Build/Build/HansKindberg-Build-XmlTransformation.*

!packages/repositories.config