_ReSharper*/
bin/
debug/
Deploy/
obj/
Package-output/
packages/*
release/
testresults/
*.suo
*.user
.nuget/NuGet.exe

HansKindberg-Build/Build/HansKindberg-Build.props
HansKindberg-Build/Build/HansKindberg-Build.targets
HansKindberg-Build/Build/*.dll

!packages/repositories.config