_ReSharper*/
bin/
debug/
Deploy/
obj/
Package-output/
packages/*
release/
testresults/
*.suo
*.user
.nuget/NuGet.exe

HansKindberg-On-Build/Build/HansKindberg-On-Build.props
HansKindberg-On-Build/Build/HansKindberg-On-Build.targets

!packages/repositories.config